

<!DOCTYPE html>

<html>

<body>

    @* start Boody *@


    <section>
        <center>
            <div class="nt-3 bg-warning text-white rounded-2">

                <h1>Welcome To Home About Us </h1>
                <p>lorem ipsom ...............</p>


            </div>

        </center>

    </section>

    @* End Boody *@






</body>
</html>
