
@{
   
    ViewBag.Title = "index";
}

<!DOCTYPE html>

<html>

<body>

    @DateTime.Now;

  

    @* start Boody *@


    <section>
            <center>
            <div class="nt-3 bg-primary text-white rounded-2">

                <h1>Welcome To Home Page </h1>
                <p>lorem ipsom ...............</p>


            </div>

           </center>

          </section>

    @* End Boody *@



  


</body>
</html>
