
@{
    ViewData["Title"] = "Privacy";
}

@* start Boody *@


<section>
    <center>
        <div class="nt-3 bg-success text-white rounded-2">

            <h1>Welcome To Privacy Page </h1>
            <p>lorem ipsom ...............</p>


        </div>

    </center>

</section>

@* End Boody *@

